# Virtualenvs
.venv/
venv/
env/
**/.venv/
**/venv/
**/env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django (dev)
db.sqlite3
*.sqlite3
staticfiles/

# Build/egg
build/
dist/
.eggs/
*.egg-info/
*.egg

# IDE/SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env vars
.env
.env.*
